<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="browserName" value="chrome"></parameter>
    <test verbose="2" preserve-order="true"
          name="/Users/tennetikiran/IdeaProjects/DemoBlaze/src/test/java/com/tests/ContactUsTest.java">
        <classes>
            <class name="com.tests.ContactUsTest">
                <methods>
                    <include name="test_sendMessage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
